 <html lang='ja'>
  <head>
    <meta charaset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-jJ2L/Ujk8jWEwtIXPFEk3X+f20QKnj4IIscn+JZzxqkbAUC79idDdiAhAi2E7czT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
      <%= render 'layouts/login_user_navbar' %>
    <% else %>
      <%= render 'layouts/no_login_user_navbar' %>
    <% end %>
    </header>

    <%= yield %>
    
    <div class="row align-items-center">
      <div class="col-lg-11">
        <footer class='text-right'>
          <p class='mb-0 mr-3'>CopyRight Infratop.inc</p>
        </footer>
      </div>
    </div>
  </body>
</html>