 <html lang='ja'>
  <head>
    <meta charaset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookers3</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 50px;">
    <div class="container">
    <div class="row">
    <p class="notice col-xs-12" style="color:green;"><%= notice %></p>
    </div>
    </div>
    <header>
    <% if user_signed_in? %>
      <%= render 'layouts/login_user_navbar' %>
    <% else %>
      <%= render 'layouts/no_login_user_navbar' %>
    <% end %>
    </header>

    <%= yield %>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <footer class='text-right'>
            <p class=''>CopyRight Infratop.inc</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>